services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: proffy_database_estudo
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d proffy_database_estudo"]
      interval: 15s
      timeout: 5s
      retries: 6
    volumes:
      - postgres_data:/var/lib/postgresql/data  

volumes:
  postgres_data:
